<template name="home">
	<section class="page-container page-home page-static">
		<header class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{title}}</span>
			</h2>
		</header>
		<div class="content">
      <section>
        <div class="title">
          <h1>Cursor.Move</h1>
        </div>
        <div class="gitlab_wrapper">
          <a href="https://gitlab.com/groups/cursormove" title="" class="button gitlab_btn">
            To Gitlab Docs.
          </a>
        </div>
      </section>
		</div>
	</section>
</template>
